{{/*
# SPDX-FileCopyrightText: 2021 Paul Brown
# SPDX-FileCopyrightText: 2021 Carl Schwan
# SPDX-LicenseIdentifier: CC-BY-SA-4.0
*/}}

{{ define "head-import" }}
  {{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
  <script>
window.onload = function() {
  const duration = 5 * 1000;
  const animationEnd = Date.now() + duration;
  const defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

  function randomInRange(min, max) {
    return Math.random() * (max - min) + min;
  }

  if (window.scrollY > 300) {
    return;
  }
  const interval = setInterval(function() {
    const timeLeft = animationEnd - Date.now();
    if (timeLeft < 0) {
      clearInterval(interval);
    }

    const particleCount = 50 * (timeLeft / duration);
    // since particles fall down, start a bit higher than random
        draft: true
    confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } }));
    confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } }));
  }, 250);
}
  </script>
{{ end }}

{{ define "main" }}
<section id="kHeader" class="carousel">
    <!--
    <div class="carousel-item active">
        <div class="carousel-item-content pl-4 pr-4">-->
            <div class="slide-background"></div>
            <!--
            <div class="carousel-text-overlay">
                <h1>{{ .Title }}</h1>
                <p>{{ .Description }}</p>
            </div>
            -->
        <!--
        </div>
    </div>
    --> 
</section>

<main aria-label="Content" style="margin-right: none;" id="content">
  <section id="home-available" class="pb-5 pt-5 mt-0">
    <div class="container">
      <h1>{{ .Title }}</h1>
      <h2>{{ .Description }}</h2>
      <p style="max-width:none;">{{ i18n "home.description" | markdownify }}</p>
      <figure class="text-center embed-responsive embed-responsive-16by9">
        <video controls="true">
          <source src="https://cdn.kde.org/promo/Events/25years/KDE25years.webm" type="video/webm">
          <source src="https://cdn.kde.org/promo/Events/25years/KDE25years.mp4" type="video/mp4">
        </video>
      </figure>
    </div>

    <!-- ACTIVITIES BEGIN -->

    <div id="activities" class="container">
      <h2>{{ i18n "home.activities" }}</h2>
      <p>{{ i18n "home.activities.description" | markdownify }}</p>
      <!-- FIRESIDES -->
      <h3>{{ i18n "home.activities.fireside" }}</h3>
  
        <div class="feature mt-4">
            <div>
                <h4>{{ i18n "home.activities.fireside.3" }}</h2>
                <p>{{ i18n "home.activities.fireside.3.description" | markdownify }}</p>
                <p><div class="see-more-button"><a href="https://conf.kde.org/e/KDE25th" class="breeze-button">{{ i18n "home.activities.fireside.registration" }}</a></div></p>
                <p>{{ i18n "home.activities.fireside.ifregistered" | markdownify }}</p>
                <p><div class="see-more-button"><a href="https://meet.kde.org/b/fireside-25th" class="breeze-button">{{ i18n "home.activities.fireside.access" }}</a></div></p>
            </div>
            <picture class="img-fluid">
                <source srcset="/assets/img/speakers/massimo_300.jpg" media="(prefers-color-scheme: dark)">
                <img src="/assets/img/speakers/massimo_300.jpg" height="200" alt="{{ i18n "home.activities.fireside.3.alt" }}">
            </picture>
        </div>

        <div class="feature mt-4">
                <div>
                    <h4>{{ i18n "home.activities.fireside.4" }}</h2>
                    <p>{{ i18n "home.activities.fireside.4.description" | markdownify }}</p>
                    <p>
                    <div class="see-more-button"><a href="https://conf.kde.org/e/KDE25th" class="breeze-button">{{ i18n "home.activities.fireside.registration" }}</a></div>
                    </p>
                    <p>{{ i18n "home.activities.fireside.ifregistered" | markdownify }}</p>
                    <p><div class="see-more-button"><a href="https://meet.kde.org/b/fireside-25th" class="breeze-button">{{ i18n "home.activities.fireside.access" }}</a></div></p>
                </div>
                <picture class="img-fluid">
                    <source srcset="/assets/img/speakers/matthias_300.jpg" media="(prefers-color-scheme: dark)">
                    <img src="/assets/img/speakers/matthias_300.jpg" height="200" alt="{{ i18n "home.activities.fireside.4.alt" }}">
                </picture>
        </div>

        <div class="feature mt-4">
            <div>
                <h4>{{ i18n "home.activities.fireside.1" }}</h2>
                <p>{{ i18n "home.activities.fireside.1.description" | markdownify }}</p>
                <!--
                <p><div class="see-more-button"><a href="https://conf.kde.org/e/KDE25th" class="breeze-button">{{ i18n "home.activities.fireside.registration" }}</a></div></p>
                <p>{{ i18n "home.activities.fireside.ifregistered" | markdownify }}</p>
                <p><div class="see-more-button"><a href="https://meet.kde.org/b/fireside-25th" class="breeze-button">{{ i18n "home.activities.fireside.access" }}</a></div></p>
                -->
                 <p style="text-align: center; font-size: large; font-weight: bold; color: blue">FINISHED</p>

            </div>
            <picture class="img-fluid">
                <source srcset="/assets/img/speakers/board_300.png" media="(prefers-color-scheme: dark)">
                <img src="/assets/img/speakers/board_300.png" height="200" alt="{{ i18n "home.activities.fireside.1.alt" }}">
            </picture>
        </div>

        <div class="feature mt-4">
            <div>
                <h4>{{ i18n "home.activities.fireside.2" }}</h2>
                <p>{{ i18n "home.activities.fireside.2.description" | markdownify }}</p>
                <!--
                <p><div class="see-more-button"><a href="https://conf.kde.org/e/KDE25th" class="breeze-button">{{ i18n "home.activities.fireside.registration" }}</a></div></p>
                <p>{{ i18n "home.activities.fireside.ifregistered" | markdownify }}</p>
                <p><div class="see-more-button"><a href="https://meet.kde.org/b/fireside-25th" class="breeze-button">{{ i18n "home.activities.fireside.access" }}</a></div></p>
                -->
                <p style="text-align: center; font-size: large; font-weight: bold; color: blue">FINISHED</p>
               
            </div>
            <picture class="img-fluid">
                <source srcset="/assets/img/speakers/jeri_300.jpg" media="(prefers-color-scheme: dark)">
                <img src="/assets/img/speakers/jeri_300.jpg" height="200" alt="{{ i18n "home.activities.fireside.2.alt" }}">
            </picture>
        </div>
      
      <!-- MEETUPS -->
      <h3>{{ i18n "home.activities.meetups" }}</h3>
      <p>{{ i18n "home.activities.meetups.description" | markdownify }}</p>
      <p>
      <picture class="img-fluid">
          <source srcset="/assets/img/meetup.jpg" media="(prefers-color-scheme: dark)">
          <img src="/assets/img/meetup.jpg" width="100%" alt="Meetup">
      </picture>
      </p>
      <div class="see-more-button"><a href="https://community.kde.org/25th_birthday" class="breeze-button">{{ i18n "home.activities.meetups.more" }} </a></div>

      <!-- AMA -->
      <h3>{{ i18n "home.activities.AMA" }}</h3>
      <p>{{ i18n "home.activities.AMA.description" | markdownify }}</p>
      <p style="text-align: center; font-size: large; font-weight: bold; color: blue">FINISHED</p>
      <p>{{ i18n "home.activities.AMA.end" | markdownify }}</p>
      <!--
      <img class="mx-auto d-block img-fluid" src="/assets/img/snoo_goup_600.png" alt="AMA on Reddit">
      <p>
        <div class="see-more-button"><a href="https://reddit.com/r/kde" class="breeze-button">{{ i18n "home.activities.AMA.button" }}</a></div>
      </p>
      -->

      <!-- ACTIVITIES END -->
    </div>
  </section>
  
  <section id="support" class="background-blue">
    <div class="container">
        <h2>{{ i18n "home.support" }}</h2>
        <p>{{ i18n "home.support.description" | markdownify }}</p>      
        <!--
        <p>
        <picture class="img-fluid">
            <source srcset="/assets/img/donate.jpg" media="(prefers-color-scheme: dark)">
            <img src="/assets/img/donate.jpg" width="100%" alt="Meetup">
        </picture>
        </p>
        -->
    </div>

    <!--
    <div class="container">
        <h3>{{ i18n "home.support.25425" }}</h3>
        <p style="text-align: center; font-size: large; font-weight: bold; color: red">COMING SOON...</p>
        <p>{{ i18n "home.support.25425.description" | markdownify }}</p>      
        <p><div class="see-more-button"><a href="http://25for25.kde.org/" class="breeze-button">{{ i18n "home.support.25425.button"}} </a></div></p>
    </div>
    -->

    <div class="container">
        <h3>{{ i18n "home.support.donations" }}</h3>        
        <p>{{ i18n "home.support.donations.description" | markdownify }}</p>
        <p><div class="see-more-button"><a href="https://kde.org/community/donations" class="breeze-button">{{ i18n "home.support.donations.button"}} </a></div></p>
    </div>
    
    <div class="contribute position-relative" style="background: url(&quot;/img/25kontributors.jpg&quot;);height: 600px;">
        <div class="position-absolute p-3" style="left: 0; bottom: 20px; backdrop-filter: blur(15px);background: rgba(255,255,255,0.8);">
            <h2>{{ i18n "home.support.contribute.kontributor" | markdownify }}</h2>
            <p style="max-width: 800px" class="h5">{{ i18n "home.support.contribute.description" | markdownify }}</p>
            <div><a class="btn btn-primary my-3 learn-more" href="https://community.kde.org/Get_Involved">{{ i18n "home.support.contribute.learn" }}</a></div>
        </div>
    </div>

    <div class="container">
        <h3>{{ i18n "home.support.companies" }}</h3>
        <p>{{ i18n "home.support.companies.description" | markdownify }}</p>      
        <p><div class="see-more-button"><a href="mailto:press@kde.org" class="breeze-button">{{ i18n "home.support.companies.button"}} </a></div></p>
        <p>{{ i18n "home.support.companies.patron" | markdownify }}</p>      
    </div>
  
  </section>

  <section id="plasma">
    <div class="breeze-window">
      <div class="kwin-shadow">
        <div class="headerbar">
          {{ i18n "home.Plasma" }}
          <img
            alt=""
            src="/window-minimize.svg"
            class="window-minimize"
          />
          <img
            alt=""
            src="/window-maximize.svg"
            class="window-maximize"
          />
          <img
            alt=""
            src="/window-close.svg"
            class="window-close"
          />
        </div>
        <div class="view">
          <p>{{ i18n "home.Plasma.description" | markdownify }}</p>
          <div class="see-more-button"><a href="https://kde.org/announcements/plasma/5/5.23.0" class="breeze-button">{{ i18n "home.plasma.see-announcement"}} </a></div>
          <p>
            <figure class="text-center embed-responsive embed-responsive-16by9">
                <video controls="true">
                    <source src="https://cdn.kde.org/promo/Announcements/Plasma/5.23/Plasma_25AE_Final.webm" type="video/webm">
                    <source src="https://cdn.kde.org/promo/Announcements/Plasma/5.23/Plasma_25AE_Final.mp4" type="video/mp4">
                </video>
            </figure>
        </div>
          
        </div>
      </div>
    </div>
  </section>

  
  <!-- HISTORY -->
  <section id="history" class="background-blue">
    <div class="container">
      <div>
        <h2>{{ i18n "home.history" }}</h2>
        <p>{{ i18n "home.history.description" | markdownify }}</p>
      </div>
      <div>
        <h3>{{ i18n "home.history.VMs" }}</h3>
        <p>{{ i18n "home.history.VMs.description" | markdownify }}</p>
      </div>

      <div>
        <h4>{{ i18n "home.history.VMs.instructions" }}</h4>
        <p>{{ i18n "home.history.VMs.instructions.description" | markdownify }}</p>
      </div>

      <div class="row">
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
          <img src="/assets/img/monitor-kde1_coming.png" alt="" width="200"/>
          <p>{{ i18n "home.history.VMs.kde1" }}</p>
        </div>
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
          <img src="/assets/img/monitor-kde2_coming.png" alt="" width="200"/>
          <p>{{ i18n "home.history.VMs.kde2" }}</p>
        </div>
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
          <a href="https://cdn.kde.org/promo/Events/25years/kde3conectiva.ova"><img src="/assets/img/monitor-kde3.png" alt="" width="200"/></a>
          <p><a href="https://cdn.kde.org/promo/Events/25years/kde3conectiva.ova">{{ i18n "home.history.VMs.kde3" }}</a></p>
        </div>
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
          <a href="https://cdn.kde.org/promo/Events/25years/plasma4kubuntu.ova"><img src="/assets/img/monitor-kde4.png" alt="" width="200"/></a>
          <p><a href="https://cdn.kde.org/promo/Events/25years/plasma4kubuntu.ova">{{ i18n "home.history.VMs.kde4" }}</a></p>
        </div>
      </div>

      <div>
        <h4>{{ i18n "home.history.VMs.credentials" }}</h4>
        <p>{{ i18n "home.history.VMs.credentials.description" | markdownify }}</p>
      </div>
      
    </div>
    
    <div class="container timeline">
        <h3>{{ i18n "home.history.timeline" }}</h3>
        <p>{{ i18n "home.history.timeline.description" | markdownify }}</p>
        <p>
        <picture class="img-fluid">
            <source srcset="/assets/img/timeline_1500.png" media="(prefers-color-scheme: dark)">
            <img style="display: block; margin-left: auto; margin-right: auto" src="/assets/img/timeline_1500.png" width="100%" alt="AMA on Reddit">
        </picture>
        </p>
        <p>
        <div class="see-more-button"><a href="https://timeline.kde.org/" class="breeze-button">{{ i18n "home.history.timeline.link" }} </a></div>
        </p>       
    </div>

    <div class="container">
        <h3>{{ i18n "home.history.gallery" }}</h3>
        <p>{{ i18n "home.history.gallery.description" | markdownify }}</p>
        
        <p>{{ i18n "home.history.gallery.biggerimage" | markdownify }}</p>
        
        <h4>1990s</h4>
            <div class="row">
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/1997kdeone.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.gallery.1997kdeone" | markdownify }}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/1999kdetwo.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.gallery.1999kdetwo" | markdownify }}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/1999konqi.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.gallery.1999konqi" | markdownify }}</p>
                </div>
            </div>

        <h4>2000s</h4>
            <div class="row">
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/2005wikipedia.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.gallery.2005wikipedia" | markdownify }}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/2007amarokdevsprint.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.gallery.2007amarokdevsprint" | markdownify }}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/2008KDE4.png" alt="" width="100%"/>
                    <p>{{ i18n "home.history.gallery.2008KDE4" | markdownify }}</p>
                </div>
            </div>
        <h4>2010s</h4>
            <div class="row">            
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/2010akademy.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.gallery.2010akademy" | markdownify }}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/2015plasma-sprint.png" alt="" width="100%"/>
                    <p>{{ i18n "home.history.gallery.2015plasma-sprint" | markdownify }}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/2015lakademy.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.gallery.2015lakademy" | markdownify }}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/2015conf.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.gallery.2015conf" | markdownify }}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/2016qtcon.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.gallery.2016qtcon" | markdownify }}</p>
                </div>

            </div>
            
        <h4>2020s</h4>
            <div class="row">            
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/202125thanniversary.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.gallery.202125thanniversary" | markdownify }}</p>
                </div>
            </div>
        
        <p>{{ i18n "home.history.gallery.CTA" | markdownify }}</p>       
    </div>

    <div class="container">
        <h3>{{ i18n "home.history.inthewild" }}</h3>
        <p>{{ i18n "home.history.inthewild.description" | markdownify }}</p>
        
        <p>{{ i18n "home.history.gallery.biggerimage" | markdownify }}</p>
        
        <h4>Research</h4>
            <div class="row">
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/inthewild_cern.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.inthewild.cern" | markdownify }}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/inthewild_ligo.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.inthewild.ligo" | markdownify }}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/inthewild_sincrotron.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.inthewild.sincrotron" | markdownify }}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/inthewild_nasa.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.inthewild.nasa" | markdownify }}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/inthewild_nerc.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.inthewild.nerc" | markdownify }}</p>
                </div>
            </div>
        
        <h4>Education</h4>        
            <div class="row">
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/inthewild_kerala.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.inthewild.kerala" | markdownify }}</p>
                </div>
            </div>

        
        <h4>Entertainment - On Screen</h4>
            <div class="row">
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/inthewild_24.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.inthewild.24" | markdownify }}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/inthewild_heroes.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.inthewild.heroes" | markdownify }}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/inthewild_dexter.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.inthewild.dexter" | markdownify }}</p>
                </div>
            </div>

        <h4>Entertainment - Behind the Cameras</h4>
            <div class="row">
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/inthewild_gravity.jpg" alt="" width="100%"/>
                    <p>{{ i18n "home.history.inthewild.gravity" | markdownify }}</p>
                </div>
            </div>

        
        <p>{{ i18n "home.history.inthewild.CTA" | markdownify }}</p>       
    </div>
    
  </section>
  
  



  <section id="merch" class="background-blue">
    <div class="container">
        <h2>{{ i18n "home.merch" }}</h2>
        <p>{{ i18n "home.merch.description" | markdownify }}</p>

        <a href="https://www.freewear.org/KDE" class="row">
            <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                <img src="/assets/img/merch/fitted_t-shirt .png" alt="" width="200"/>
                <p>{{ i18n "home.merch.tfitted" }}</p>
            </div>
            <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                <img src="/assets/img/merch/non-fitted_t-shirt.png" alt="" width="200"/>
                <p>{{ i18n "home.merch.tnfitted" }}</p>
            </div>
            <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                <img src="/assets/img/merch/sticker_sim.png" alt="" width="200"/>
                <p>{{ i18n "home.merch.stickers" }}</p>
            </div>
        </a>

        <p><div class="see-more-button"><a href="https://www.freewear.org/KDE" class="breeze-button">{{ i18n "home.merch.button"}} </a></div></p>
    </div>
    
  
  </section>  
  
</main>
{{ end }}
